@page
@model PRN221ExampleWeb.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <form id="searchForm" method="get" asp-page-handler="GetBooks">
    <div class="form-group">
        <input id="Search" name="Search" class="form-control" />
        <br />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

</p>
<table class="table" id="tableBody">
    @* <thead>
        <tr>
            <th>
                BookName
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody> *@
</table>
@section Scripts {
    <script src="~/js/bookSignalR.js" asp-append-version="true"></script>
}

