@page
@model PRN221ExampleWeb.Pages.Ships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <form id="searchForm" method="get" asp-page-handler="GetBooks">
        <div class="form-group">
            <input id="Search" name="Search" class="form-control" />
            <br />
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</p>
<table class="table" id="tableBody">
    @* <thead>
        <tr>
            <th>
                Book
            </th>
            <th>
                DateOrder
            </th>
            <th>
                DateShip
            </th>
            <th>
                UserOrder
            </th>
            <th>
                UserShip
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ship)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateShip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserOrder.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserShip.UserName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody> *@
</table>
@section Scripts {
    <script src="~/js/shipSignalR.js" asp-append-version="true"></script>
}
